{% extends "layout.njk" %}
{% block  content %}


            <script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
            <script  src="/js/level2.js"></script>  


{% endblock %}