
    <nav class="navbar">
        <div class="navbar__inner container">
            <a href="/" class="logo"><img src="images/SlimeLogo.gif" alt="fin logo på en slime"></a>
            <button class="navbar__button" aria-label="Open menu">
                <p> Test </p>
            </button>
            <div class="navbar__collapse">
                <ul class="menu">
                        <li>
                           <a href="/">Home</a>
                        </li>

                    {% if loggedin %}
                        <li>
                            <a href="/logout"> Logout</a>
                        </li> 
                        <li>
                            <a href="/profile"> Profile</a>
                        </li>
                        <li>
                            <a href="/level1"> Level 1</a>
                        </li>
                        <li>
                            <a href="/level2"> Level 2</a>
                        </li>
                        

                    {% else %}

                    

                        <li>
                           <a href="/login">Login</a>
                        </li>
                        <li>
                           <a href="/register">Register</a>
                        </li>
                    {% endif %}
                
                </ul>
            </div>
        </div>
    </nav>